body{
    background: #999;
    font-family: arial;
}
h2{
    color: #555;
    margin: .5em 0;
}
h3{
    margin: .1em 0;
}
div ul{
    padding: 0;
    margin: 0;
}

div ul li{
    list-style-type: none;
    display: inline-block;
    width: 31%;
    padding: 0 0 0 .5em;
}

ul.stack li{
    padding-left: 0;
    width: 100%;
}

button.block{/* https://developer.mozilla.org/en-US/docs/Web/CSS/width */
    display: inline-block;
    margin: 0 0 2% 0;
    width: 100%;
}

.card {
    background: inherit;
    color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5% 0 0 0;
    margin: 0 0 2% 0;
    width: 100%;
}
input.card{
    padding-top: 0;
    padding-bottom: 10%;
    border: none;
}

textarea.card{
    font-family: helvetica;
    font-size: 1.2em;
    border: none;
    resize: none;
    padding: 0 0 5% 0;
    overflow: hidden; /* Delete scroll bar */
    outline: none;
}

::placeholder{
    color: white;
    opacity: 1;
}

a.ltCtl{
    padding: 0 47% 0 0;
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

a.clCtl{
    padding: 0 44% 0 0;
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

a.rtCtl{
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

a.ua{
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

a.da{
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

ul.container{
    display: flex;
}